# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Logs
logs/
*.log

# Unit test / coverage reports
.tox/
.coverage
htmlcov/
.pytest_cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Project specific
secrets.json
